###########################
# DEPENDENCIES            #
###########################

MINIO_ROOT_USER=opencti
MINIO_ROOT_PASSWORD=changeme
RABBITMQ_DEFAULT_USER=opencti
RABBITMQ_DEFAULT_PASS=changeme
SMTP_HOSTNAME=localhost
ELASTIC_MEMORY_SIZE=4G

###########################
# COMMON                  #
###########################

XTM_COMPOSER_ID=<UUIDv4>
COMPOSE_PROJECT_NAME=opencti

###########################
# OPENCTI                 #
###########################

OPENCTI_VERSION=7.260409.0
OPENCTI_HOST=<IP_addr>
OPENCTI_PORT=8080
OPENCTI_EXTERNAL_SCHEME=http
OPENCTI_ADMIN_EMAIL=admin@opencti.io
OPENCTI_ADMIN_PASSWORD=changeme
OPENCTI_ADMIN_TOKEN=<UUIDv4>
OPENCTI_HEALTHCHECK_ACCESS_KEY=<UUIDv4>
OPENCTI_ENCRYPTION_KEY=<base64_enc_key>

###########################
# OPENCTI CONNECTORS      #
###########################

CONNECTOR_EXPORT_FILE_STIX_ID=<UUIDv4>
CONNECTOR_EXPORT_FILE_CSV_ID=<UUIDv4>
CONNECTOR_EXPORT_FILE_TXT_ID=<UUIDv4>
CONNECTOR_IMPORT_FILE_STIX_ID=<UUIDv4>
CONNECTOR_IMPORT_DOCUMENT_ID=<UUIDv4>
CONNECTOR_IMPORT_FILE_YARA_ID=<UUIDv4>
CONNECTOR_IMPORT_EXTERNAL_REFERENCE_ID=<UUIDv4>
CONNECTOR_ANALYSIS_ID=<UUIDv4>

###########################
# OPENCTI DEFAULT DATA    #
###########################

CONNECTOR_OPENCTI_ID=<UUIDv4>
CONNECTOR_MITRE_ID=<UUIDv4>
